* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.hibana {
    min-height: 100vh;
    background: linear-gradient(rgba(73, 0, 66), rgba(0, 32, 64));
    display: flex;
}

.songContainer,
.coverContainer {
    width: 50%;
    display: flex;
}

.songContainer {
    align-items: center;
    justify-content: flex-start;
}

.song {
    background: rgba(255, 255, 255, 1);
    height: 40%;
    width: 100%;
    border-radius: 0 80px 80px 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song h1 {
    font-size: 40px;
    font-weight: 400;
    max-width: 90%;
    text-align: center;
}

.songControls {
    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 45px;
    height: 45px;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: pink;
    box-shadow: 0px 15px 20px rgb(199, 124, 137);
    transform: translateY(-7px);
}

.coverContainer {
    align-items: center;
    justify-content: center;
}

.cover {
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 70vh;
    border-radius: 50%;

    animation-name: pulse;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 138, 136, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 500px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width: 768px) {
    .hibana {
        flex-direction: column;
    }

    .songContainer,
    .coverContainer {
        width: 100%;
        height: 50vh;
        display: flex;
    }

    .song {
        height: 80%;
    }

    .song h1 {
        font-size: 30px;
    }

    .song p {
        font-size: 10px;
    }

    .cover {
        height: 40vh;
        width: 40vh;
    }
}
